body {
    background-color: #0b223f;
    overflow: hidden;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container {
   padding: 200px 300px;
}

.quote {
font-size: 30px;


}

.author {
font-size: 15px;
font-style: italic;
text-align: right;
}

.kitty-img {
    width: 300px;
}